---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
const isHome = Astro.url.pathname === "/" || Astro.url.pathname === "";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/SITE-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col font-body bg-white">
		<Header />
		<main class={`flex-grow ${isHome ? "" : "pt-16"}`}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
